@import url('../assets/fonts/fonts.css');
@import url('./reset.css');
html {
    font-family: 'Montserrat Alternates', 'Tahoma', sans-serif;
    font-size: 10px;
    color: #24252E;
}

.app-content-wrapper {
    padding: 0px 8rem;
}

.btn {
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 5rem;
    line-height: 1.95rem;
    padding: 16px 32px;
    cursor: pointer;
}

.btn:active {
    scale: 0.95;
}

.btn_theme_primary {
    color: white;
    border: 1px solid #EE3124;
    background-color: #EE3124;
}

.btn_theme_primary:hover {
    border: 1px solid #B20000;
    background-color: #B20000;
}

.btn_theme_primary:disabled {
    border: 1px solid #CED5DD;
    background-color: #CED5DD;
}

.btn_theme_secondary {
    color: #24252E;
    border: 1px solid #EE3124;
    background-color: white;
}

.btn_theme_secondary:hover {
    color: #24252E;
    border: 1px solid #B20000;
    background-color: white;
}

.btn_theme_secondary:disabled {
    color: #24252E;
    border: 1px solid #CED5DD;
    background-color: white;
}

.btn_type_phone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    flex-shrink: 0;
    background-image: url('../assets/img/call.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E8F7;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.header__list-item {
    text-transform: uppercase;
    line-height: 2.194rem;
    display: flex;
    align-items: center;
}

.header__list-item+.header__list-item::before {
    content: '';
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background-color: #EE3124;
    margin: 0 40px;
}

.link:visited {}

.link:focus {
    outline: none;
    /* outline: solid 10px red; */
}

.link:hover {
    color: #EE3124;
}

.link:active {
    color: navy;
}

.logo {
    width: max-content;
    flex-shrink: 0;
}

.logo__icon {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #A1BCE8;
}

.avatar__icon {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.comment__user-info {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.comment__user-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.text {
    font-weight: 400;
    font-size: 1.6rem;
}

.comment__user-name {
    font-weight: 500;
}

.comment__user-job {
    color: #7F7F7F;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 397px;
    gap: 2rem;
}

.comment {
    border: 1px solid #E2E8F7;
    padding: 40px;
    max-width: 477px;
    border-radius: 40px;
    position: relative;
    background-color: white;
}

.comment__quotes {
    width: 34px;
    height: 34px;
    background-color: #FBBDAA;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -17px;
}

.comment__quotes::before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    background-image: url('../assets/img/quotes.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: -4px;
    left: 4px;
}

.icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon__circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FBBDAA;
    position: relative;
}

.icon__image-container {
    width: 80px;
    height: 55px;
    position: absolute;
    top: -8px;
    left: 8px;
}

.icon__image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.icon_size_sm {
    width: 40px;
    height: 40px;
}

.icon_size_sm .icon__circle {
    width: 34px;
    height: 34px;
}

.icon_size_sm .icon__image-container {
    width: 32px;
    height: 32px;
    top: -4px;
    left: 4px;
}

.icon_type_heart .icon__image-container {
    width: 90px;
    height: 78px;
}

.icon_type_arrow .icon__circle,
.icon_type_square .icon__circle {
    background-color: #A1BCE8;
}

.icon_type_arrow .icon__image-container {
    width: 83px;
    height: 74px;
    top: -7px;
    left: 16px;
}

.icon_type_square .icon__image-container {
    width: 76px;
    height: 76px;
    top: -8px;
    left: 24px;
}

.icon_type_start .icon__image-container {
    width: 85px;
    height: 81px;
    top: -16px;
    left: 15px;
}

.card {
    width: 262px;
    height: 224px;
    border: 1px solid #E2E8F7;
    background-color: #F6FCFF;
    border-radius: 40px;
}

.card__icon {
    margin-top: 20px;
    margin-bottom: 40px;
}

.card__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.main-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E8F7;
}

.title {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.3rem;
    text-transform: uppercase;
}

.title_size_sm {
    line-height: 4.9rem;
    font-size: 4rem;
    text-transform: none
}

.title__text_red {
    color: #EE3124;
}

.main__text {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.6rem;
}

.main__image-container {
    width: 605px;
    height: 605px;
}

.main__image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.main__info-container {
    width: 561px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__btn {
    width: 227px;
}

.advantage-content-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.advantage-card-wrapper {
    display: flex;
    justify-content: space-between;
}

.comments-content-wrapper {
    background-color: #E2E8F7;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
    position: relative;
}

.comment__controllers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.comments__arrow {
    width: 50px;
    height: 1px;
    position: relative;
}

.comments__arrow::before,
.comments__arrow::after {
    content: '';
    display: block;
    width: 5px;
    height: 1px;
    position: absolute;
    top: 0;
    background-color: inherit;
}

.comments__arrow_left {
    background-color: #CED5DD;
}

.comments__arrow_left::before {
    left: 0;
    transform: translateY(2px) rotate(45deg) translateX(0px)
}

.comments__arrow_left::after {
    left: 0;
    transform: translateY(-2px) rotate(-45deg) translateX(0px);
}

.comments__arrow_right {
    background-color: #24252E;
}

.comments__arrow_right::before {
    right: 0;
    transform: translateY(2px) rotate(-45deg) translateX(0px);
}

.comments__arrow_right::after {
    right: 0;
    transform: translateY(-2px) rotate(45deg) translateX(0px);
}

@media screen and (max-width: 1230px) {
    .app-content-wrapper {
        padding-left: 4.4rem;
        padding-right: 4.4rem;
    }
    .btn_type_phone {
        display: block;
    }
    .header__btn {
        display: none;
    }
    .header__list-item+.header__list-item::before {
        margin: 0 30px;
    }
}

@media screen and (max-width: 1110px) {
    .header-content-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 46px;
    }
    .btn_type_phone {
        position: absolute;
        right: 40px;
        top: 20px;
    }
}