@import url('../assets/fonts/fonts.css');
@import url('./reset.css');
html {
    font-family: 'Montserrat Alternates', 'Tahoma', sans-serif;
    font-size: 10px;
    color: #24252E;
}

.app-content-wrapper {
    padding: 0px 8rem;
}

.btn {
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 5rem;
    line-height: 1.95rem;
    padding: 16px 32px;
    cursor: pointer;
}

.btn:active {
    scale: 0.95;
}

.btn_theme_primary {
    color: white;
    border: 1px solid #EE3124;
    background-color: #EE3124;
}

.btn_theme_primary:hover {
    border: 1px solid #B20000;
    background-color: #B20000;
}

.btn_theme_primary:disabled {
    border: 1px solid #CED5DD;
    background-color: #CED5DD;
}

.btn_theme_secondary {
    color: #24252E;
    border: 1px solid #EE3124;
    background-color: white;
}

.btn_theme_secondary:hover {
    color: #24252E;
    border: 1px solid #B20000;
    background-color: white;
}

.btn_theme_secondary:disabled {
    color: #24252E;
    border: 1px solid #CED5DD;
    background-color: white;
}

.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E8F7;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.header__list-item {
    text-transform: uppercase;
    line-height: 2.194rem;
    display: flex;
    align-items: center;
}

.header__list-item+.header__list-item::before {
    content: '';
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background-color: #EE3124;
    margin: 0 40px;
}

.link:visited {}

.link:focus {
    outline: none;
    /* outline: solid 10px red; */
}

.link:hover {
    color: #EE3124;
}

.link:active {
    color: navy;
}

.logo {
    width: max-content;
    flex-shrink: 0;
}

.logo__icon {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #A1BCE8;
}

.avatar__icon {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.comment__user-info {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.comment__user-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.text {
    font-weight: 400;
    font-size: 1.6rem;
}

.comment__user-name {
    font-weight: 500;
}

.comment__user-job {
    color: #7F7F7F;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 397px;
    gap: 2rem;
}

.comment {
    border: 1px solid #E2E8F7;
    padding: 40px;
    max-width: 477px;
    border-radius: 40px;
    position: relative;
}

.comment__quotes {
    width: 34px;
    height: 34px;
    background-color: #FBBDAA;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -17px;
}

.comment__quotes::before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    background-image: url('../assets/img/quotes.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: -4px;
    left: 4px;
}

.icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon__circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FBBDAA;
    position: relative;
}

.icon__image-container {
    width: 80px;
    height: 55px;
    position: absolute;
    top: -8px;
    left: 8px;
}

.icon__image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.icon_size_sm {
    width: 40px;
    height: 40px;
}

.icon_size_sm .icon__circle {
    width: 34px;
    height: 34px;
}

.icon_size_sm .icon__image-container {
    width: 32px;
    height: 32px;
    top: -4px;
    left: 4px;
}